<!doctype html>
<html>
 <head>
   <title>Say It Dont Spray It</title>
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css">
 </head>
 <body>
   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h2>Say It Dont Spray It</h2>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <% if logged_in? %>
          <ul class="nav navbar-nav">
            <li><a href="/">Feed</a></li>
            <li><a href="/users/<%= session[:user_id]%>">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">LogOut</a></li>
          </ul>
          <% else %>

          <form action="/login" method="post" class="navbar-form navbar-right">
            <div class="form-group">
              <input class="form-control login" name="user_name" placeholder="User Name">
              <input type="password" class="form-control"  name="password" id="inputPassword" placeholder="Password">
              <input type="submit" class="btn btn-succes" value="Log In">
            </div>
          </form>
          <% end %>
        </div>
      </div>
    </nav>

   <!-- NAVBAR  -->

   <div class="container">
     <%= yield %>
   </div>
 </body>
 <footer>
   <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &copy;Say It Dont Spray It 2016</h3>
 </footer>
</html>

<style>
footer{
    font-size:small;
    text-align:center;
    height:50px;
    background-color:black;
    clear: both;
    display: block;
    margin-top: 270px !important;
}
</style>
